<div class="row mt-3">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Car status
        </div>
        <hr>
        <div class="table-responsive">
          <table class="table table-bordered" #statuslist>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (item of allCarStatus; track $index) {
                <tr>
                  <td>
                    {{item.idCarStatus}}
                  </td>
                  <td>
                    <span style="display: none;">{{item.name}}</span><input class="input-update" [(ngModel)]="item.name" [value]="item.name"></td>
                  <td>
                    <a style="cursor: pointer;" (click)="updateCarStatus(item)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Commission
        </div>
        <hr>
        <div class="table-responsive">
          <table class="table table-bordered" #commissionlist>
            <thead>
              <tr>
                <th>#</th>
                <th>Boundary inferior</th>
                <th>Boundary superior</th>
                <th>Percentage</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (item of this.allCommisions; track $index) {
                <tr>
                  <td>
                    {{item.idCommission}}
                  </td>
                  <td>
                    <span style="display: none;">{{item.boundaryInferior}}</span>
                    <input class="input-update" [(ngModel)]="item.boundaryInferior" [value]="item.boundaryInferior">
                  </td>
                  <td>
                    <span style="display: none;">{{item.boundarySuperior}}</span>
                    <input class="input-update" [(ngModel)]="item.boundarySuperior" [value]="item.boundarySuperior">

                  </td>
                  <td>
                    <span style="display: none;">{{item.percentage}}</span>
                    <input class="input-update" [(ngModel)]="item.percentage" [value]="item.percentage">
                  </td>
                  <td>
                    <a style="cursor: pointer;" (click)="updateCommission(item)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
