
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="card">
            <div class="card-title">Creer un annonce de {{"Votre voiture"}}</div>
            <hr>
            <div class="card-body">
              <form method="post" action="">
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="input-1">Date d'ajout</label>
                    <input type="date" class="form-control" id="input-1" name="dateAddition">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Lieu de vente</label>
                    <select name="idBrand" class="form-control" id="">
                      <option value="">Tesla</option>
                      <option value="">Porsche</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Prix</label>
                    <select name="idModel" class="form-control" id="">
                      <option value="">SUV</option>
                      <option value="">Sport</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="input-2">Description</label>
                    <input type="text-area" class="form-control" id="input-2" name="descrition">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-danger "><i class="fa fa-ok"></i>Valider</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
