.featured-cars-grid {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1% 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    max-height: 500px;
    overflow: auto;
}
.featured-cars-details{
    max-width: 30%;

}

.featured-cars-search{
    /* background-color: #4E4FFA; */
    min-width: 15%;
    max-height: 500px;
    padding: 50px;
    border-radius: 0.5em;
    box-shadow:0 10px 40px 0px rgba(38,40,64,.2);
    /* position: absolute; */
    color: white;
}


@media screen and (max-width: 800px) {
    .featured-cars-content {
        padding-top: 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    .featured-cars-grid {
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        gap: 1% 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        justify-content: center;
        max-height: 1000px;
    }
    .featured-cars-details{
        max-width: 100%;
    }
    .featured-cars-search{
        /* background-color: #4E4FFA; */
        margin-bottom: 50px;
    }
  }
