
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="card">
            <div class="card-title">Creer votre voiture</div>
            <hr>
            <div class="card-body">
              <form method="post" action="">
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="input-1">Date d'ajout</label>
                    <input type="date" class="form-control" id="input-1" name="dateAddition">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Choisir un marque</label>
                    <select name="idBrand" class="form-control" id="">
                      <option value="">Tesla</option>
                      <option value="">Porsche</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Choisir un model</label>
                    <select name="idModel" class="form-control" id="">
                      <option value="">SUV</option>
                      <option value="">Sport</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Choisir une transmission</label>
                    <select name="idTransmission" class="form-control" id="">
                      <option value="">Automatique</option>
                      <option value="">Manuelle</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Boîte de vitesse</label>
                    <select name="idCarStatus" class="form-control" id="">
                      <option value="">Eclate</option>
                      <option value="">Bonne</option>
                      <option value="">Tres bonne</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Choisir un type de carburant</label>
                    <select name="id" class="form-control" id="idFuelType">
                      <option value="">Gasoil</option>
                      <option value="">Essence</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Choisir un type de moteur</label>
                    <select name="idModelMotor" class="form-control" id="">
                      <option value="">V6</option>
                      <option value="">I6</option>
                      <option value="">H4</option>
                    </select>
                  </div>

                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Choisir l'etat de la voiture</label>
                    <select name="idCarStatus" class="form-control" id="">
                      <option value="">Eclate</option>
                      <option value="">Bonne</option>
                      <option value="">Tres bonne</option>
                    </select>
                  </div>

                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Nombre de porte</label>
                    <input type="number" class="form-control" id="" name="doorNumber">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <label for="">Couleur</label>
                    <input type="text" class="form-control" id="" placeholder="idColor">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-danger "><i class="fa fa-ok"></i>Valider</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
